
.horizontal-slider {
  width: 100%;
}

.vertical-slider {
  writing-mode: bt-lr; /* Bottom-to-top, left-to-right */
  transform: rotate(-90deg) translateX(-100%); /* Rotate slider to be horizontal */
  transform-origin: top left;
}

/*.croppable-image*/
.grid-image-and-sliders{
  display: grid;
  grid-template-columns: auto auto;
  height: auto;
  width: 50%;
}

.grid-image-container {
  height: auto;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.grid-image {
  max-width: none;
  max-height: none;

  height: auto;
  overflow: hidden;
}
