/*.croppable-image*/
.grid-image-and-sliders{
  display: grid;
  grid-template-columns: 5fr 1fr;
  height: auto;
  width: 50%;
  text-align:center;
}

.grid-image-container {
  overflow: hidden;
}

.grid-image {
  max-width: none;
  max-height: none;

  overflow: hidden;
  width: 400%;
}


.vertical-slider {
  writing-mode: bt-lr; /* Bottom-to-top, left-to-right */
  transform: rotate(-90deg) translateX(-100%); /* Rotate slider to be horizontal */
  transform-origin: top left;
  width: 0px;
  height: 0px;
}

.horizontal-slider {
  width: 90%;
}


