<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="description" content="CNS-Bench: Benchmarking Image Classifier Robustness Under Continuous Nuisance Shift">
  <meta name="keywords" content="Keywords">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>DIY-SC</title>

  <link rel="stylesheet" href="assets/css/bulma.min.css">
  <link rel="stylesheet" href="assets/css/bulma-carousel.min.css">
  <link rel="stylesheet" href="assets/css/bulma-slider.min.css">
  <link rel="stylesheet" href="assets/css/fontawesome.all.min.css">
  <link rel="stylesheet"
  href="https://cdn.jsdelivr.net/gh/jpswalsh/academicons@1/css/academicons.min.css">
  <link rel="stylesheet" href="assets/css/projects.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://documentcloud.adobe.com/view-sdk/main.js"></script>
  <script defer src="assets/js/fontawesome.all.min.js"></script>
  <script src="assets/js/bulma-carousel.min.js"></script>
  <script src="assets/js/bulma-slider.min.js"></script>
  <script src="assets/js/projects.js"></script>
</head>
<body>

<!-- From here, I can customize.-->
<section class="hero">
  <div class="hero-body">
    <div class="container is-max-desktop">
      <div class="columns is-centered">
        <div class="column has-text-centered">
          <h1 class="title is-1 publication-title">CNS-Bench: Benchmarking Image Classifier Robustness Under Continuous Nuisance Shifts</h1>

          <!-- <div class="title is-3">
            <strong>arXiv 2024</strong>
          </div> -->

          <div class="is-size-5 publication-authors">
            <span class="author-block">
              <a href="https://odunkel.github.io">Olaf Dünkel</a><sup>1</sup>,</span>
            <span class="author-block">
              <a href="https://artur.jesslen.ch//">Artur Jesslen</a><sup>2</sup>,</span>
            <span class="author-block">
              <a href="https://jiahao000.github.io/">Jiaohao Xie</a><sup>1 </sup>,</span>
            <span class="author-block">
              <a href="https://people.mpi-inf.mpg.de/~theobalt/">Christian Theobalt</a><sup>1</sup>,</span>
              <span class="author-block">
                <a href="https://chrirupp.github.io/">Christian Rupprecht</a><sup>3</sup>,</span>
              <span class="author-block">
                <a href="https://genintel.mpi-inf.mpg.de/">Adam Kortylewski</a><sup>1,2</sup></span>
            </span>
          </div>

          <div class="is-size-5 publication-authors">
            <span class="author-block"><sup>1</sup>Max Planck Institute for Informatics, <sup>2</sup>University of Freiburg</span>, <sup>3</sup>University of Oxford</span>
          </div>

          <div class="column has-text-centered">
            <div class="publication-links">
              <!-- PDF Link. FIXME Put arxiv-->
              <span class="link-block">
                <a href=""
                   class="external-link button is-normal is-rounded is-dark" target="_blank">
                  <span class="icon">
                    <i class="fas fa-file-pdf"></i>
                  </span>
                  <span>Paper</span>
                </a>
              </span>
              <span class="link-block">
                <a href=""
                   class="external-link button is-normal is-rounded is-dark" target="_blank">
                  <span class="icon">
                      <i class="ai ai-arxiv"></i>
                  </span>
                  <span>arXiv</span>
                </a>
              </span>
              <!-- Code Link. -->
              <span class="link-block">
                <a href=""
                   class="external-link button is-normal is-rounded is-dark">
                  <span class="icon">
                      <i class="fab fa-github"></i>
                  </span>
                  <span>Code</span>
                  </a>
              </span>
              <span class="link-block">
                <a href=""
                   class="external-link button is-normal is-rounded is-dark" target="_blank">
                  <span class="icon">
                    <i class="fas fa-database"></i>
                  </span>
                  <span>Data</span>
                </a>
              </span>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="hero teaser" style="background: #f5f5f5;">
  <div class="container is-max-desktop" style="width: 70%;">
    <div class="hero-body" style="padding-bottom: 2rem; padding-top: 2rem;">
      <div class="content has-text-justified">
            <video src="./assets/videos/cns/teaser.mp4" controls autoplay muted style="width: 100%;" alt="CNS teaser video"></video>
          <p>
            We evaluate the robustness of different models under gradually increasing nuisance shifts. This enables the  identification of failure points (highlighted in red).
          </p>
        </div>
    </div>
  </div>
</section>
  

<section class="section" style="padding-top: 3rem;">
  <div class="container is-max-desktop">
    <!-- Abstract. -->
    <div class="columns is-centered has-text-centered">
      <div class="column is-four-fifths">
        <h2 class="title is-3" style="color: #006c66;">Abstract</h2>
        <div class="content has-text-justified">
          <p>
            An important challenge when using computer vision models in the real world is to evaluate their performance in potential out-of-distribution (OOD) scenarios. 
While simple synthetic corruptions are commonly applied to test OOD robustness, they mostly do not capture nuisance shifts that occur in the real world. 
Recently, diffusion models have been applied to generate realistic images for benchmarking, but they are restricted to binary nuisance shifts.
In this work, we introduce CNS-Bench, a Continuous Nuisance Shift Benchmark to quantify OOD robustness of image classifiers for continuous and realistic generative nuisance shifts.
CNS-Bench allows generating a wide range of individual nuisance shifts in continuous severities by applying LoRA adapters to diffusion models. To remove failure cases, we propose a filtering mechanism that outperforms previous methods and hence enables a reliable benchmarking with generative models.
With the proposed benchmark, we perform a large-scale study to evaluate the robustness of more than 40 classifiers under various nuisance shifts.
Through carefully designed comparisons and analyses, we find that model rankings can change for varying shifts and shift scales, which cannot be captured when applying common binary shifts.
Additionally, we show that evaluating the model performance on a continuous scale allows the identification of model failure points, providing a more nuanced understanding of model robustness. 
          </p>
        </div>
      </div>
    </div>
    <!--/ Abstract. -->

  </div>
</section>


<section class="section">
  <div class="container is-max-desktop"> 
    <div class="columns is-centered"></div>
      <div class="column is-full-width has-text-centered">
        <h2 class="title is-3" style="color:#006c66;">Our Approach</h2>
        <div class="content has-text-centered" style="margin-bottom: 2rem;">
          <p>Our benchmark is the first that enables benchmarking w.r.t. realistic and continuous nuisance shifts, scalable with respect to the number of classes and shifts.</p>
          <img src="./assets/img/cns/overview.png" alt="Overview." style="width: 40%; height: auto;">
        </div>
        <div class="content has-text-centered" style="margin-bottom: 2rem;">
          <p>ImageNet class-specific LoRA adapters are applied to an image, enabling a variety continuous nuisance shifts.</p>
          <img src="./assets/img/cns/method.png" alt="Method generation." style="width: 60%; height: auto;">
        </div>
        <div class="content has-text-centered">
          <p>Out-of-class samples are filtered via an ensemble of filters.</p>
          <img src="./assets/img/cns/filter.png" alt="Method filtering." style="width: 50%; height: auto;">
        </div>
      </div>
    </div>
  </div>
</section>



<section class="section">
  <div class="container is-max-desktop"> 
    <div class="columns is-centered">
      <div class="column is-full-width has-text-centered">
        
        <h2 class="title is-3" style="color:#006c66;">Benchmarking Results</h2>

        <div class="content has-text-centered">
          <p>Accuracy drops vary for different shifts and scales.</p>
          <img src="./assets/img/cns/acc_drops.png" alt="Result plots." style="width: 100%; height: auto;">
        </div>


        <div class="content has-text-centered">
          <p>
            Evaluation of model robustness via the average corruption error along three considered axes.
          </p>
          <img src="./assets/img/cns/ce_results.png" alt="Model evaluation." style="width: 50%; height: auto;">
        </div>

        
      </div>
    </div>
  </div>
</section>


<br>
<br>
<div class="container is-max-desktop content">
  <h2 class="title" style="color: #006c66;">Acknowledgments</h2>
  Adam Kortylewski acknowledges support via his Emmy Noether Research Group funded by the German Research Foundation (DFG) under Grant No. 468670075.
</div>
<section class="section" id="BibTeX">
  <div class="container is-max-desktop content">
    <h2 class="title" style="color: #006c66;">BibTeX</h2>
    <pre><code>@article{
  }</code></pre>
  </div>
</section>


<footer class="footer">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-8">
        <div class="content">
          <p>
            This webpage template was borrowed from <a rel="license" href="https://nerfies.github.io">Nerfies</a>.
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>

<script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>

</body>
</html>
